In [1]:
import pandas as pd

In [2]:
campaign_data = pd.read_csv("data.csv")

In [3]:
campaign_data.head()

       Campaign Data
views          likes
90006            402
101141           389
97297            403
117182           397

In [4]:
campaign_data = pd.read_csv("data.csv", header = 1)

In [5]:
campaign_data.head()

    views  likes
0   90006    402
1  101141    389
2   97297    403
3  117182    397
4   99637    404

In [6]:
campaign_data.tail()

     views  likes
95  100464    391
96   96382    387
97   94971    389
98  103070    410
99  110387    411

In [7]:
campaign_data.dtypes

views    int64
likes    int64
dtype: object

In [8]:
campaign_data.shape

(100, 2)

In [9]:
sales = pd.read_excel("sales.xlsx")

In [10]:
sales.head()

,Year,Product,line,Product.1,type,Product.2,Order,method,type.1,Retailer,...,Quantity,Unit,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1
0,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,...,6.59,156672.570,5.195714,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,...,7145.88,6.190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Brazil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,...,91707.18,5.488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
sales.dtypes

Year           int64
Product       object
line          object
Product.1     object
type          object
Product.2     object
Order         object
method        object
type.1        object
Retailer      object
country       object
Revenue       object
Planned       object
revenue       object
Product.3     object
cost         float64
Quantity     float64
Unit         float64
cost.1       float64
Unit.1       float64
price        float64
Gross        float64
profit       float64
Unit.2       float64
sale         float64
price.1      float64
dtype: object

In [12]:
# sales = pd.read_excel("sales.xlsx", names = ["Year", "Product line", "Product type", "Product", "Order method type",
#                                              "Retailer Country", "Revenue", "Planned revenue", "Product cost", "Quantity",
#                                              "Unit cost", "Unit price", "Gross Profit", "Unit sale price"])

In [13]:
sales.shape

(65535, 26)