In [1]:
import numpy as np 

import pandas as pd

In [7]:
df = pd.DataFrame() 

df['views'] = np.random.normal(100000, scale=10000, size=100) 

df['likes'] = np.random.normal(400, scale=10, size=100) 
   
df = df.astype(int) 
df

     views  likes
0    91497    393
1    89038    402
2    86451    388
3   105150    402
4   109345    411
5    92197    395
6   108201    383
7    95495    399
8    93800    405
9   101696    388
10   91579    404
11   98728    402
12   84445    388
13  103670    399
14  100937    400
15   87702    392
16  103063    389
17  123731    388
18  108715    394
19   95937    412
20  112730    391
21  108762    409
22  118442    404
23  102795    386
24  107741    387
25   93384    388
26  102724    409
27  124820    396
28  109659    392
29   96733    386
..     ...    ...
70   87879    385
71  101833    404
72   91209    409
73  108351    404
74  105846    384
75  112663    413
76   98204    406
77  106139    408
78  104760    404
79   84947    414
80   93306    405
81  104425    408
82  111694    406
83  116271    397
84   90161    399
85  109572    392
86  103476    410
87  110274    396
88   88346    401
89  101612    402
90   95636    388
91   95281    385
92   87382    396
93  103924    400
94  109225    408
95   87892    398
96   96691    398
97  102758    425
98  104470    396
99   97403    398

[100 rows x 2 columns]

In [9]:
df = df[df['views']>1000][df['likes'] >10]
df

     views  likes
0    91497    393
1    89038    402
2    86451    388
3   105150    402
4   109345    411
5    92197    395
6   108201    383
7    95495    399
8    93800    405
9   101696    388
10   91579    404
11   98728    402
12   84445    388
13  103670    399
14  100937    400
15   87702    392
16  103063    389
17  123731    388
18  108715    394
19   95937    412
20  112730    391
21  108762    409
22  118442    404
23  102795    386
24  107741    387
25   93384    388
26  102724    409
27  124820    396
28  109659    392
29   96733    386
..     ...    ...
70   87879    385
71  101833    404
72   91209    409
73  108351    404
74  105846    384
75  112663    413
76   98204    406
77  106139    408
78  104760    404
79   84947    414
80   93306    405
81  104425    408
82  111694    406
83  116271    397
84   90161    399
85  109572    392
86  103476    410
87  110274    396
88   88346    401
89  101612    402
90   95636    388
91   95281    385
92   87382    396
93  103924    400
94  109225    408
95   87892    398
96   96691    398
97  102758    425
98  104470    396
99   97403    398

[100 rows x 2 columns]