In [133]:
#import the necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Reading the data using pandas

In [134]:
data= pd.read_csv(r'HR-DT-PACKT.csv')
data.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157.0,3,0,1,0.0,sales,low
1,0.80,0.86,5,262.0,6,0,1,0.0,sales,medium
2,0.11,0.88,7,272.0,4,0,1,0.0,sales,medium
3,0.72,0.87,5,223.0,5,0,1,0.0,sales,low
4,0.37,0.52,2,159.0,3,0,1,0.0,sales,low